In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
#Connecting to the web driver

driver=webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

# Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [6]:
#opening the Naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [7]:
# entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [8]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [9]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [10]:
#Entering blank titles

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company name from the given page    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping Experience from the given page    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [12]:
# Checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [14]:
#opening the Naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [15]:
# entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [16]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [17]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
#Entering blank titles

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [19]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company name from the given page    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping Experience from the given page    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [20]:
# Checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [21]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis,9-14 Yrs
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra,10-14 Yrs
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,4-8 Yrs
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart,3-7 Yrs
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro,8-13 Yrs

# Question 3: In this question you have to scrape data using the filters available on the webpage

In [48]:
#Connecting to the web driver

driver=webdriver.Chrome(r"C:\Users\91741\Downloads\chromedriver_win32\chromedriver.exe")

In [49]:
#opening the Naukri page on automated chrome browser

driver.get("https://www.naukri.com/")

In [50]:
# entering designation required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [51]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [56]:
#Applying location filter checkbox
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]").click()

In [57]:
#Applying salary filter checkbox
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i").click()

In [58]:
#Entering blank titles

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [59]:
# scraping Job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

# scraping company name from the given page    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# scraping Experience from the given page    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [60]:
# Checking length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [61]:
#creating the dataframe from above data-
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
1,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
4,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
5,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
6,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
8,Data Scientist - Mumbai - Immediate Joiner Req...,"Delhi / NCR, Mumbai, New Delhi",HueCanvas Consulting,2-7 Yrs
9,Data Scientist,Noida,NGI Ventures,0-5 Yrs

# Question 4: Scrape data of first 100 sunglasses listings on flipkart.com.

In [63]:
#opening the Flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/")

In [66]:
# entering sunglasses required in the question

Eyewear=driver.find_element(By.CLASS_NAME,"_3704LK")
Eyewear.send_keys("sunglasses")

In [67]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [88]:
# Creating an empty list for the data to be scraped 
brand_sg =[]
product_description_sg = []
price_sg = []
discount_sg = []


# Scarping 100 sunglasses
for page in range(0,3):
    # Scraping the brand names of the sunglasses
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in brand_tags:
        brand_sg.append(brand.text)
        
    # Scraping the product description of sunglasses
    product_description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for pr_des in product_description_tags:
        product_description_sg.append(pr_des.text)
    
    # Scraping the 'Price' of the sunglasses
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for price in price_tags:
        price_sg.append(price.text)
        
    # Scraping the "Discount" given for the sunglasses
    discount_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]//span')
    for discount in discount_tags:
        discount_sg.append(discount.text)
        
    # Moving the next page of sunglasses
    next_page = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]//span')
    next_page.click()
    time.sleep(5)
    
print(len(brand_sg),len(product_description_sg),len(price_sg),len(discount_sg))

120 120 120 119

In [89]:
# Creating a DataFrame for 100 sunglasses
sunglasses_df = pd.DataFrame({'Brand':brand_sg[0:100], 'Product Description':product_description_sg[0:100],"Price":price_sg[0:100], "Discount":discount_sg[0:100]})
print('-'*25,"First 100 sunglasses",'-'*25)
sunglasses_df

------------------------- First 100 sunglasses -------------------------

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,NuVew,UV Protection Aviator Sunglasses (57),₹198,73% off
4,SHAAH COLLECTIONS,"UV Protection, Mirrored Wayfarer Sunglasses (54)",₹179,86% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored Sports Sunglasses (62)",₹345,84% off
96,PIRASO,UV Protection Rectangular Sunglasses (52),₹246,82% off
97,SHAAH COLLECTIONS,UV Protection Aviator Sunglasses (54),₹179,82% off
98,NuVew,"UV Protection, Mirrored Wayfarer Sunglasses (57)",₹157,71% off
99,ROYAL SON,UV Protection Rectangular Sunglasses (55),₹561,89% off

# Question5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [90]:
#opening the Flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/")

In [91]:
# Entering iphone11 in the search field

product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("iphone11")

In [92]:
#Searching for iphone11
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [93]:
# clicking on the first iphone11, scraping ratings, review summary and full review
iphone11 = driver.find_element(By.CLASS_NAME,"_4rR01T")
iphone11.click()

In [104]:
# Creating empty list to scrape required data
rating_ip11 =[]
review_summary_ip11 =[]
full_review_ip11 =[]

In [105]:
# the page having only 10 reviews, need to click on '+' to get 100 reviews
for ip_11 in range(0,15):
    # Scraping the rating of "iphone 11"
    rating = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for rt in rating:
        rating_ip11.append(rt.text)
        
    # Scraping the review summary for "iphone 11"
    review_summary = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for rs in review_summary:
        review_summary_ip11.append(rs.text)
        
    # Scraping the full review for "iphone 11"
    full_review = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]//div//div')
    for fr in full_review:
        full_review_ip11.append(fr.text)
        
    # clicking on the '+' button to get other reviews
#     all_reviews.click()
#     time.sleep(2)


print(len(rating_ip11),len(review_summary_ip11), len(full_review_ip11))

105 120 120

In [106]:
# Creating a DataFrame for 100 'iphone 11' reviews
ip11_df = pd.DataFrame({'Rating':rating_ip11[0:100],'Review Summary':review_summary_ip11[0:100], 'Full review': full_review_ip11[0:100]})
ip11_df

,Rating,Review Summary,Full review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,4,Don't waste your money,Very bad mic within 2 days my phone mic is not...
4,5,Good quality product,impressively Nice......\nOne of the greatest i...
...,...,...,...
95,5,Mind-blowing purchase,Fantastic and prompt delivery.
96,5,Perfect product!,After using 3 years mobile review. Excellent &...
97,5,Terrific,I am using the phone for last 5 years and foun...
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Don't waste your money,Very bad mic within 2 days my phone mic is not...

# Question6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field

In [129]:
#opening the Flipkart page on automated chrome browser

driver.get("https://www.flipkart.com/")

In [130]:
# Enter “Sneakers” in the search field
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sneakers")

In [131]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [132]:
# Creating an empty list for the data to be scraped 
brand_sks =[]
product_description_sks = []
price_sks = []
discount_sks = []


# Scarping 100 'Sneakers'
for page in range(0,3):
    # Scraping the brand names of the 'Sneakers'
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in brand_tags[0:100]:
        brand_sks.append(brand.text)
        
    # Scraping the product description of 'Sneakers'
    product_description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for pr_des in product_description_tags[0:100]:
        product_description_sks.append(pr_des.text)
    
    # Scraping the 'Price' of the 'Sneakers'
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for price in price_tags[0:100]:
        price_sks.append(price.text)
        
    # Scraping the "Discount" given for the 'Sneakers'
    discount_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]//span')
    for discount in discount_tags[0:100]:
        discount_sks.append(discount.text)
        
    # Moving the next page of 'Sneakers'
    next_page = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]//span')
    next_page.click()
    time.sleep(2)
    
print(len(brand_sks),len(product_description_sks),len(price_sks),len(discount_sks))

120 113 120 120

In [133]:
# Creating a DataFrame for 100 'Sneakers'
sneakers_df = pd.DataFrame({'Brand':brand_sks[0:100], 'Product Description':product_description_sks[0:100],"Price":price_sks[0:100], "Discount":discount_sks[0:100]})
sneakers_df

,Brand,Product Description,Price,Discount
0,RapidBox,Sneakers For Men,₹590,40% off
1,Deals4you,Sneakers For Women,₹413,72% off
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
3,RED TAPE,Sneakers For Men,"₹1,499",70% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,JUDDee,Original Luxury Branded Fashionable Men's Casu...,₹599,40% off
96,TR,Sneakers For Men,₹431,71% off
97,Deals4you,Exclusive Sneaker Shoes Sneakers For Men,₹389,61% off
98,BRUTON,Sneakers For Men,₹636,74% off
99,Pa Poosh,Sneakers Sneakers For Men,₹599,60% off

# Question 7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the image.

In [134]:
#opening the Myntra page on automated chrome browser 
driver.get("https://www.myntra.com/shoes")

In [142]:
#Applying second price filter checkbox
Second_Price=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]").click()

In [136]:
#Applying black_color filter checkbox
color=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]").click()

In [143]:
# Creating an empty list for the data to be scraped 
brand_shoe =[]
product_description_shoe = []
price_shoe = []


# Scarping 100 'Sneakers'
for page in range(0,4):
    # Scraping the brand names of the 'Sneakers'
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="product-brand"]')
    for brand in brand_tags[0:100]:
        brand_shoe.append(brand.text)
        
    # Scraping the product description of 'Sneakers'
    product_description_tags = driver.find_elements(By.XPATH, '//div[@class="product-product"]')
    for pr_des in product_description_tags[0:100]:
        product_description_shoe.append(pr_des.text)
    
    # Scraping the 'Price' of the 'Sneakers'
    price_tags = driver.find_elements(By.XPATH, '//div[@class="product-discountedPrice"]')
    for price in price_tags[0:100]:
        price_shoe.append(price.text)
        
        
    # Moving the next page of 'Sneakers'
    next_page = driver.find_element(By.XPATH, '//li[@class="pagination-next"]//span')
    next_page.click()
    time.sleep(2)

In [144]:
#checking length
print(len(brand_shoe),len(product_description_shoe),len(price_shoe))

0 0 0

In [141]:
# Creating a DataFrame for 100 'Sneakers'
sneakers_df = pd.DataFrame({'Brand':brand_shoe[0:100], 'Product Description':product_description_shoe[0:100],"Price":price_shoe[0:100]})
sneakers_df

Empty DataFrame
Columns: [Brand, Product Description, Price]
Index: []

# Question 8: Go to webpage https://www.amazon.in/Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the image:

In [146]:
#opening the amazon page on automated chrome browser 
driver.get("https://www.amazon.in/")

In [147]:
# Enter “Laptop” in the search field 
product = driver.find_element(By.XPATH,'//input[@type="text"]')
product.send_keys("Laptop")

In [148]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.XPATH, '//input[@id="nav-search-submit-button"]')
search.click()

In [149]:
# Filtering the laptops based on “Intel Core i7”
filter_laptop = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031" and @aria-label="Intel Core i7" ]//span')
filter_laptop.click()

In [150]:
# Creating an empty list for the data to be scraped 
title_laptop = []
ratings_laptop = []
price_laptop = []


# Scraping the title of laptops
title = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for t in title[0:10]:
    title_laptop.append(t.text)

    
# Scraping the ratings of laptop
ratings = driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for r in ratings[0:10]:
    ratings_laptop.append(r.get_attribute('text'))
    

# Scraping the price of laptop
price = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for p in price[0:10]:
    price_laptop.append(p.text)

In [151]:
 print(len(title_laptop),len(ratings_laptop),len(price_laptop))

10 10 10

In [152]:
# Creating a DataFrame for 10 'Laptops'
sneakers_df = pd.DataFrame({'Title':title_laptop[0:10], 'Ratings':ratings_laptop[0:10],"Price":price_laptop[0:10]})
sneakers_df

,Title,Ratings,Price
0,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"67,990"
1,"Fujitsu UH-X 11th Gen Intel Core i7 13.3"" FHD ...",4.2 out of 5 stars,"1,00,000"
2,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",4.3 out of 5 stars,"93,290"
3,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,4.5 out of 5 stars,"79,990"
4,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.8 out of 5 stars,"67,990"
5,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.3 out of 5 stars,"77,990"
6,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"86,990"
7,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4.2 out of 5 stars,"80,990"
8,"Acer Nitro 5 Core i7 11th Gen 15.6"" (39.62cms)...",2.9 out of 5 stars,"89,990"
9,Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...,3.6 out of 5 stars,"1,09,990"

# Q9: - Skip as per instruction from Gulshna Chaudhary

# 10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown

In [153]:
#opening the ambition_box page on automated chrome browser 
driver.get("https://www.ambitionbox.com/")

In [162]:
#Click on the salaries dropdown option
color=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/i").click()

In [163]:
#Click on the browse_salaries option
color=driver.find_element(By.XPATH,"/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/p").click()

In [164]:
# In place of “Search Job Profile” enters “Data Scientist”
data_sc = driver.find_element(By.XPATH, '//input[@type="searchbox"]')
data_sc.send_keys('Data Scientist')

In [168]:
# then click on “Data Scientist”
ds = driver.find_element(By.XPATH, '//html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input').click()

In [169]:
# then click on “Data Scientist”
ds = driver.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]').click()

In [170]:
# Creating the empty list for the required data to be scraped
company_n = []
total_salary_record=[]
avg_salary = []
min_salary=[]
max_salary=[]
exp_reqd =[]

# Getting the names of the company
cn = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for n in cn[0:10]:
    cd = n.text.split()[:-10]
    name = ''
    company_n.append(name.join(cd))

# Getting the total salary record of the company
cn = driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for n in cn[0:10]:
    s = n.text.split()[-2:]
    total_salary_record.append(s[0])

# Getting the average salary of the company
avg_s = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for av in avg_s:
    avg_salary.append(av.text)

# Getting the Maximum and Minimum salary of the company
max_min_s = driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for mm in range(len(max_min_s)):
    if mm % 2 == 0:
        min_salary.append(max_min_s[mm].text)
    elif mm % 2 == 1:
        max_salary.append(max_min_s[mm].text)
        
# Getting the experience required
exp = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for er in exp[0:10]:
    ex = er.text.split()[:-4]
    exp_reqd.append(ex[0]+' '+ex[1])

print(len(company_n),len(total_salary_record),len(avg_salary),len(max_salary),len(min_salary),len(exp_reqd))

10 10 10 10 10 10

In [171]:
# Creating DataFrame for first 10 the salary data for Data Scientist designation 
salary_df = pd.DataFrame({'Company Name':company_n, 'Total salary record':total_salary_record,'Average Salary':avg_salary,
                         'Maximum Salary':max_salary,'Minimum Salary':min_salary,'Experince Required':exp_reqd})
salary_df

,Company Name,Total salary record,Average Salary,Maximum Salary,Minimum Salary,Experince Required
0,Walmart,24,₹ 32.2L,₹ 45.0L,₹ 25.0L,3-4 yrs
1,AbInbev,59,₹ 19.8L,₹ 26.0L,₹ 15.0L,2-4 yrs
2,Optum,49,₹ 16.4L,₹ 22.6L,₹ 11.0L,2-4 yrs
3,ZS,35,₹ 15.9L,₹ 22.0L,₹ 11.0L,1-2 yrs
4,FractalAnalytics,118,₹ 15.5L,₹ 23.0L,₹ 9.0L,2-4 yrs
5,SigmoidAnalytics,10,₹ 14.7L,₹ 19.7L,₹ 12.7L,1 yr
6,TigerAnalytics,70,₹ 14.6L,₹ 20.0L,₹ 9.0L,2-4 yrs
7,LegatoHealthTechnologies,11,₹ 14.5L,₹ 20.0L,₹ 11.0L,4 yrs
8,HSBC,10,₹ 14.0L,₹ 18.0L,₹ 12.0L,4 yrs
9,Tredence,14,₹ 13.9L,₹ 17.5L,₹ 8.8L,3 yrs

# Thank you